<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Addis cakes</title>
    <link rel="icon"  href="../static/images/favicon.ico" />
</head>
<body>
<img src="../static/images/addis-cakes-logo.png" width="100" height="100" th:src="@{images/addis-cakes-logo.jpg}"/>
<div>
    <h3>Congratulations! </h3>
    <h5>Your account has been activated and email is verified!</h5>
</div>
<div>
    You can now go to the Addis cakes PASTRY App
    and Login with the credentials sent to you by Email.
</div>
</body>
</html>
